/.idea/
/.vscode/
/env/
notebooks/test.csv
notebooks/train.csv
/notebooks/.ipynb_checkpoints/

house-prices/house_regression/trained_model/__init__.py
house-prices/house_regression/trained_model/regression_model.pkl
house-prices/house_regression/data/test.csv
house-prices/house_regression/data/train.csv
house-prices/house_regression/__pycache__/pipeline.cpython-39.pyc
house-prices/house_regression/__pycache__/preprocessor.cpython-39.pyc
